body {
    display: block;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }

.auth-container {
    text-align: center;
  }

.auth-header {
    background-color: #BCE8B1;
    padding: 10px;
    text-align: center;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .logo {
    width: 170px; 
    height: auto;
  }
  
  .auth-content {
    text-align: center;
    margin-top: 0px;
  }

  .label-container {
    display: flex;
    padding-right:240px;
  }
  
  .auth-label {
    height: 60px;
    width: 400px;
    border-radius: 5px 5px 0px 0px;
    background-color: #126912;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .auth-navi {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 50px;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
    margin: 0;
  }
  
  .auth-content h2 {
    font-size: 20px;
  }
  
  .auth-label h1 {
    font-size: 24px;
    font-weight: 400; 
    color: #ffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0;
  }

  .home-button {
    position: absolute;
    right: 60px;
  }

  .login-form{
    width: 600px;
    margin: 0 auto;
    background-color: #BCE8B1;
    padding: 20px;
    border-radius: 5px;
  }

.login-form input {
    width: 400px;
    height: 30px;
    padding: 12px;
    margin-bottom: 15px;
    font-size: 16px;
    border: 1px solid #ccc; /* Input border color */
    border-radius: 5px;  
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
}

.login-form h2 {
    color: #4D4141;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.login-form h3 {
    font-size: 12px;
    font-weight: 400px;
    color: #4D4141;
}

.login-form button {
    margin: 20px;
}

  .login-form .forgot-password {
    color: #4D4141;
    font-weight: 700px;
    cursor: pointer;
    font-size: 14px;
    text-decoration: underline;
  }

  .login-form .forgot-password:hover {
    color: #0056b3;
  }
  
  div {
    align-items: center;
    justify-content: center;
  }